<%- include('../partials/header') %> <%- include('../partials/nav') %>
<div class="container my-3">
  <div class="row">
    <% houses.forEach((house)=>{ %>
    <div class="col-sm-12 col-md-6 col-lg-3 mt-4 mt-md-5">
      <div class="card">
        <div class="image-container">
          <a href="/house/<%= house._id %>">
            <img class="rounded" src="<%= house.image[0] %>" alt="" />
          </a>
        </div>
        <article class="p-2">
          <span><%= house.type %> - <%= house.location %></span>
          <p class="house-title"><%= house.title %></p>
          <span>$<%= house.price %> / night</span>
        </article>
      </div>
    </div>
    <% }) %>
  </div>
</div>
<%- include('../partials/footer') %> <%- include('../partials/footerScript') %>
